extends layouts/base

block content
    .columns.is-multiline
        .column.is-12-tablet.is-6-desktop.is-6-widescreen
            .notification.is-link.has-text
                p.title.is-1 #{newsletters.length}
                p.subtitle.is-4 Total Newsletters
        .column.is-12-tablet.is-6-desktop.is-6-widescreen
            .notification.is-primary.has-text
                p.title.is-1 #{writers.length}
                p.subtitle.is-4 Total Writers
        .column.is-12-tablet.is-6-desktop.is-6-fullhd
            .card
                .card-content
                    h2.title.is-4 Most Popular Newsletters
                    each newsletter in newsletters
                        .media
                            .media-content
                                p.title.is-5.is-spaced.is-marginless
                                    a(href='/newsletters/#{newsletter.slug}') #{newsletter.title}
                                p.subtitle.is-7 Published: #{newsletter.updated.toLocaleDateString()}
                    a.button.is-link.is-outlined(href='/newsletters') View all newsletters
        .column.is-12-tablet.is-6-desktop.is-6-fullhd
            .card
                .card-content
                    h2.title.is-4 Top Writers
                    each writer in writers
                        .media
                            .media-content
                                p.title.is-5.is-spaced.is-marginless
                                    a(href='/about') #{writer.name}
                            .media-right #{writer.total} Newsletters
                    a.button.is-link.is-outlined(href='/about') View all writers
